<!-- header class="masthead" style="background-image: url('img/home-bg.jpg')"!-->
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <img src="img/profile.jpg" height="100" width="100" style="border-radius: 50%" />
          <span class="subheading">Hi, my name is Anchieta, i am a Ruby and Javascript developer, currently focused on Ruby on Rails and React projects.</span>
        </div>
      </div>
    </div>
  </div>
</header>