<p id="notice"><%= notice %></p>

<div class="form-group">
  <%= link_to 'Edit', edit_dashboard_category_path(@category), class: "btn btn-primary" %>
</div>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
