<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136398908-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136398908-1');
</script>

<title>Anchieta Júnior - <%= defined?(@post) ? @post.title : "Ruby, Rails and Javascript" %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Site about many things like Ruby on Rails">
<meta name="author" content="Anchieta Júnior">
<meta name="google-site-verification" content="tx9yHS2hHemgRMEu_a6B3ElpxsYfFZpObQ7iXqfJNjI" />

