<!-- Page Header -->
<header class="masthead" style="background-color: #333; height: 80px;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Olá, meu nome é Anchieta Júnior, católico, casado, 31 anos, Paulo Afonsino/Baiano, apaixonado pelo meu Akita chamado Snow.</p>
      <p>Trabalho com desenvolvimento de softwares aproximadamente desde 2008, iniciei com sites estáticos utilizando HTML e CSS, pouco tempo
        depois já estava programando em PHP, durante um bom tempo me mantive nessa stack, passei para o Java trabalhando especificamente
        no back-end (quando nem existia essa denominação).</p>
      <p>Desde 2015 me encontrei de verdade com Ruby e Ruby on Rails, onde me matenho desde lá.</p>
      <p>Com um contato constante com Javascript, porém de forma raza, resolvi por volta de 2017 adiciona-lo ao meu "tool belt",
      atualmente lendo livros sobre ES6, ES7 e etc, além de VueJS.</p>
      <!-- Pager -->
    </div>
  </div>
</div>

<hr>

