<!-- Page Header -->
<header class="masthead" style="background-color: #333; height: 360px; color: #E2FF4E">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading" style="color: #E2FF4E;">
          <h2>About me.</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>My name is Anchieta Junior, i am a software developer since 2009. 
      My first personal projects were done using only html and css, after a few months I started studying the discontinued language action script, used in applications made with Adobe Flash.
      </p>
      <p>
      After sometime, I needed any server-side language knowledge, starting with PHP in which I developed my first sites and systems with data manipulation using MySQL. 
      </p>
      <p>
      A few years after starting my degree in Information Systems, i started my first job in a third party company who developed solutions for a state bank. 
      I started working professionally with Java and Oracle in that period. 
      </p>
      <p>
      In early 2015, I had my first opportunity to work with Ruby, which totally changed my life. I started my career with the language that I really love to work and remotely. 
      Since 2016, I'm a back-end developer, working every day with Ruby, Rails and Javascript in an online video platform.
      </p>
      <p>
      After attending a few GDG events, a Google study group in 2016, 
      I discovered how amazing it is to help the community and share content through posts and videos, this has been my hobby in my spare time.
      </p>
  </div>
</div>

<hr>

