<%= render 'pages/shared/nav' %>

<article style="margin-top: 100px">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Hi, my name is Anchieta</h2>
          <div class="post-content">
            <p>I am a Ruby and Javascript developer from Brazil, i write code since
            2009 and now my focus is on Rails and React projects.</p>
            <p>i have a bachelor's degree in information systems (4 years) and i really 
            like to write clean and tested code.</p>
            <p>Good to see you here, for more info, checkout my 
            <a href="https://www.linkedin.com/in/anchieta-j%C3%BAnior-69568630/" style="color: #f07b3f" target="_blank">Linkedin</a> and <a href="https://github.com/anchietajunior" target="_blank" style="color: #f07b3f">Github</a> pages.</p>
          </div>
        </div>
      </div>
    </div>
  </article>

  <hr style="margin-top: 60px;">

<%= render 'pages/shared/footer' %>