<%= render 'pages/shared/nav' %>

<article style="margin-top: 100px">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Get in touch</h2>
          <div class="post-content">
            <p>My main email is: santosjr87@gmail.com</p>
            <p>Also you can find me at 
            <a href="https://www.linkedin.com/in/anchieta-j%C3%BAnior-69568630/" style="color: #f07b3f" target="_blank">Linkedin</a> and <a href="https://github.com/anchietajunior" target="_blank" style="color: #f07b3f">Github</a> pages.</p>
          </div>
        </div>
      </div>
    </div>
  </article>

  <hr style="margin-top: 60px;">

<%= render 'pages/shared/footer' %>