<!-- Page Header -->
<header class="masthead" style="background-color: #333; max-height: 80px;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @posts.each do |post| %>
        <div class="post-preview">
          <a href="<%= url_for(post_path(post)) %>">
            <h2 class="post-title">
              <%= post.title %>
            </h2>
            <h3 class="post-subtitle">
            </h3>
          </a>
          <p class="post-meta">
            Publicado em <%= post.published_at_decorated %></p>
        </div>
        <hr>
      <% end %>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" style="background-color: #333" href="<%= url_for(posts_path) %>">Todos os Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

<hr>
