<h1>Editing Post</h1>

<%= render 'dashboard/shared/notifications' %>

<span class="float-right"><%= link_to 'Show', dashboard_post_path(@post), class: "btn btn-primary" %></span>

<%= form_with(model: @post, url: dashboard_post_path(@post), local: true) do |form| %>
  <%= render 'form', post: @post, form: form %>
<% end %>
