<h1 class="h3 mb-2 text-gray-800">New Post</h1>

<%= render 'dashboard/components/notices'  %>

<%= form_with(model: @post, url: dashboard_posts_path, local: true) do |form| %>
  <%= render 'form', post: @post, form: form %>
<% end %>
