
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2 class="" style="font-size: 2em; text-align: center;">Posts</h2>
      <% @posts.each do |post| %>
        <div class="post-preview">
          <%= link_to post do %>
            <h2 class="post-title">
              <%= post.title %>
            </h2>
            <h3 class="post-subtitle">
            </h3>
          <% end %>
          Published on <%= post.published_at %></p>
        </div>
      <% end %>
      <hr>
      <!-- Pager 
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
      -->
    </div>
  </div>
</div>

<hr>